body {
  text-align: center;
  background-color: #011F3F;
}

@font-face {
  font-family: karma;
  src: url("/font/karma\ future.ttf");
} 

#level-title, #best {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5% 0%;
  color: #FEF2BF;
}

#box {
  width: 30%;
  display: inline-block;
}

.btn {
  padding: 50px;
  border: 10px solid black;
  border-radius: 40%;
  margin:10%;
  width: 200px;
}

@media (max-width:980px){
  .btn {
    padding: 20px;
    margin: 5%;
    width: 300px;
  }
  #level-title, #best {
    font-size: 4rem;
    margin:  10% 0%;
  }
} 

.game-over {
  background-color: red;
  opacity: 0.8;
}


.red {
  background-color: red;

}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}